:root
{
    --main-color:white;
}

body
{
    background: lightcoral;
}

h1
{
    text-align: center;
    padding:5px;
    color:var(--main-color);
}

h2
{
    text-align: center;
    padding: 10px;
    color:var(--main-color);
}

h3
{
    color: var(--main-color);
}

#source
{
    color: var(--main-color);
    text-align: center;
    padding-top: 20px;
}

#painting-list 
{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.painting 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 220px;          
    text-align: center;
}

img
{
   height: 200px;
   width: 200px;
}

#popup 
{
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,.6);
    visibility: hidden;
    opacity: 0;
}

#popup.visible 
{
    visibility: visible;
    opacity: 1;
}

.popup-content 
{
    background: lightcoral; 
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    text-align: center;
    position: relative;
}

#popup h2 
{
    margin: 12px;
    text-align: center;
    color: white;
}

#popup-artist
{
    color: white;
}

#popup img 
{
    max-width: 80vw;
    max-height: 80vh;
    border-radius: 6px;
    display: block;
    margin:auto;
}

#close 
{
    position: absolute;
    top: 16px;
    right: 20px;
    cursor: pointer;
    font-size: 28px;
    color: white;
}

