body {
    background-color: lightcoral;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: black;
    text-align: center;
}

.projects{
    display:flex;
    flex-wrap:wrap;
}

.projects{
    width:30%;
    margin:10px;
    padding:20px 10px;
    background-color: white;
    border-radius: 25%;
}