body
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url(images/sushi.jpg);
    background-position: initial;
    background-position-x: 50%;
    background-position-y: 0%;
    background-repeat: no-repeat;
    background-size: 100%;
    /*
    Background positioning
    */
    
}

#content
{
    padding: 5px;
    border-radius: 5px;
    margin: auto;
    width: 90%;
}
#mainhead
{
    text-align: center;
    padding: 5px;
    background: #1C1C1C;
    border-radius: 20px;
}

#main-nav ul
{
    padding-left: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

#main-nav li
{
    border-bottom: white;
}

#main-nav a
{
    text-decoration: none;
    color: white;
}

