:root
{
    --garnet:#75010a;
    --hover-color:#FF0000;
}

body
{
    background: black;
    width: 100vw;
}

/* Top Navs */
#top-nav
{
    position: relative;
    top: -10px;
    left: -5px;
    color: white;
    width: 3000px;
    display: flex;
}

#top-nav h1
{
    display: flex;
    color: white;
    position: absolute;
    left: 810px;
    top:28px;
    font-size: 33px;
    
}

#top-nav img
{
    display: flex;
    width: 300px;
    position: absolute;
    top: 25px;
    left:15px;
}

#top-nav ul
{
    display: flex;
    list-style-type: none;
    position: absolute;
    left:0px;
    top:-5px;
}

#top-nav a
{
    text-decoration: none;
    padding: 5px;
    color: white;
    font-size: 10px;
    transition: background-color .3s ease-in-out; /* transition hover color */
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

#logo
{
    position: absolute;
    left:10px
}

/* Top Nav Decor */

#top-nav li::after /* helps make | and > smaller */
{
    font-size: 0.7em;
    padding: 4px;
}

#top-nav li:not(:last-child)::after
{
    content: "|";
}

 #top-nav li:last-child::after
{
    content:">";
    padding-left: 2px;
 }

 #top-nav a:hover
{
    background-color: var(--hover-color); /* same transition hover color as website using eyedropper */
}

 /* Second Nav */

 #second-content
 {
    position: relative;
    background: var(--garnet);
    height: 50px;
    top:110px;
    left:-10px;
    margin: 0;
    width: 100vw;
    padding: 0;
   
 }

 #second-content ul
 {
    padding: 5px;
    list-style-type: none;
    position: absolute;
    display: flex;
    left: 745px;
    top:-5px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
 }

 #second-content li
 {
    position: static; /*prevents stackign text */
 }

 #second-content a
 {
    text-decoration: none;
    padding: 15px;
    color: white;
    position: static;
 }

 /* Second Nav Decor (copied and pasted from earlier code i wrote) */

#second-nav li::after /* helps make | and > smaller */
{
    font-size: 0.7em;
    padding: 4px;
}

#second-nav li:not(:last-child)::after
{
    content: ">";
    color: white;
    font-size: 15px;
}


/* Images */

#image-one img
{
    position: absolute;
    top:168px;
    left:0
}

/* Sidebar */

#sidebar
{
    background: white;
    position: absolute;
    top:615px;
    left:5px;
    width: 725px;
    height: 90px;
    opacity: 50%;
}

#sidebar h1
{
    padding-left: 45px;
    padding-top: 0px; 
    color: #700109;
    font-size: 34px;
}

/* Third Section */

#third-section
{
    background: white;
    position: relative;
    top:690px;
    left:-10px;
    height: 325px;
    width: 100vw;
}

#third-section p
{
    font-size: 23px;
    text-align: left;
    max-width: 750px;
    position: absolute;
    left:335px;
    top:20px;
    line-height: 40px;
    font-weight: bold;  
}

/* Fourth Section */

#fourth-section
{
    background-color: var(--garnet);
    position: relative;
    top: 689.5px;
    left:-10px;
    width:100vx;
    height: 475px;
}

#fourth-section h1
{
    color:white;
    position: absolute;
    top:90px;
    left:45px;
    font-size:42px;
    font-family: sans-serif;
}

#fourth-section img
{
    position: absolute;
    top:0px;
    right:0px;
}

#fourth-section p
{
    position: absolute;
    top:170px;
    left:45px;
    max-width: 650px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 30px;
}

#fourth-section ul
{
    background: black;
    position: absolute;
    top:285px;
    left:45px;
    height: 50px;
    width: 120px;
    border: 2px solid white;
    list-style-type: none;
}

#fourth-section li
{
    position: absolute;
    top:15px;
    left:25px;
    color: white;
    
}

#fourth-section a
{
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    text-transform: uppercase;

}

#fourth-section li:last-child::after
{
    position: absolute;
    top:0px;
    content: ">>";
    color: white;
    font-size: 10px;
}

#fourth-section li::after
{
    font-size: 0.7em;
    padding: 4px;
}

/* Fifth Section */

#fifth-section
{
    background: #EDEDED;
    position:relative;
    top:670px;
    left:-10px;
    width: 100vw;
    height: 360px;
}

#fifth-section h1
{
    position: absolute;
    color: var(--garnet);
    font-family: sans-serif;
    font-weight: bold;
    font-size: 43px;
    right:560px;
    top:40px;
}

#fifth-section p
{
    position: absolute;
    color: black;
    font-family: Arial;
    font-size: 16px;
    right:375px;
    top:120px;
    width: 700px;
    text-align: center;
    line-height: 30px;

}

#undergrad 
{
    position: absolute;
    top: 240px;
    left: 395px;            
    width: 190px;
    height: 49px;
    background: var(--garnet);
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15px;
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 6px 14px rgba(0,0,0,0.25);
    padding-left: 5px;
}

#grad 
{
    position: absolute;
    top: 240px;
    left: 650px;           
    width: 150px;              
    height: 49px;
    background: var(--garnet);
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15px;
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 6px 14px rgba(0,0,0,0.25);
}

#depart
{
    position: absolute;
    top: 240px;
    left: 860px;         
    width: 175px;
    height: 49px;
    background: var(--garnet);
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15px;
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 6px 14px rgba(0,0,0,0.25); /* shadow so yoiu can see the border */
}

#undergrad::after 
{
    content: " >>";
    font-weight: 800;
    padding: 8px;
    font-size: 10px;
}

#grad::after 
{
    content: " >>";
    font-weight: 800;
    padding: 8px;
    font-size: 10px;
}

#depart::after
{
    content: " >>";
    font-weight: 800;
    padding: 8px;
    font-size:10px;
}

/* Sixth Section */

#sixth-section
{
    background-color: black;
    position: relative;
    top: 670px;
    left:-10px;
    width:100vx;
    height: 100px;
}

#sixth-section img
{
    position:absolute;
    top:-20px;
    left:0px;
}

#sixth-section #blocks
{
    background: black;
    position: absolute;
    top: 415px;
    left:620px;
    height: 285px;
    width:750px;
    display: flex;
}

#sixth-section #blocks h1
{
    color: white;
    position: absolute;
    top: -20px;
    left:40px;
    font-size: 45px;
    font-family:Arial, Helvetica, sans-serif ;

}

#sixth-section #blocks p
{
    color: white;
    position: absolute;
    top: 65px;
    left:40px;
    font-size: 18px;
    font-family:'Times New Roman', Times, serif;
    line-height: 30px;
}

#sixth-section #blocks a
{
    background-color: var(--garnet);
    position: absolute;
    top:200px;
    left:40px;
    border: 2px solid white;
    text-decoration: none;
    color: white;
    width: 250px;
    height:50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
}

#sixth-section #blocks a::after 
{
    content: " >>";
    font-weight: 800;
    padding: 8px;
    font-size: 10px;
}

/* Seventh Section */

#seventh-section
{
    background: var(--garnet);
    position: relative;
    top:1334px;
    left:-10px;
    height:405px;
    width: 100vw;
}

#seventh-section p
{
    position: absolute;
    top: 80px;
    right:240px;
    color: white;
    width: 600px;
    font-size:23px;
    line-height: 40px;
    font-weight: 550;
    word-spacing: 3px;
}

#seventh-section h5
{
    position: absolute;
    top: 250px;
    right:345px;
    color: white;
    width: 500px;
    font-size:14px;
    line-height: 40px;
    font-weight: 600;
    word-spacing: 3px;
  
}

#seventh-section img
{
    position: absolute;
    top:30px;
    left:175px;
    border-radius: 80%;
}

/* Eighth Section */
#eighth-section
{
    background: #1F404C;
    position: relative;
    top:1312.5px;
    left:-10px;
    width:100vw;
    height: 480px;
}

#eighth-section h1
{
    position: absolute;
    color: white;
    top:80px;
    left:42px;
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    width: 450px;
}

#eighth-section p
{
    position: absolute;
    color: white;
    top:210px;
    left:42px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    width: 600px;
    line-height: 30px;
}

#eighth-section a
{
    background-color: var(--garnet);
    position: absolute;
    top:315px;
    left:40px;
    border: 2px solid white;
    text-decoration: none;
    color: white;
    width: 130px;
    height:45px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
}

#eighth-section a::after 
{
    content: " >>";
    font-weight: 800;
    padding: 3px;
    font-size: 10px;
}


#eighth-section img
{
    position: absolute;
    top:0;
    right:0;
}

/* Ninth Section */

#ninth-section 
{
    position: relative;
    top:1291px;
    left:-10px;
    width: 1440px;
    height: 780px;
    background:white;
}

#ninth-section h1
{
    position: absolute;
    top:55px;
    left:665px;
    color: var(--garnet);
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
}

#ninth-section .columns
{
    position: absolute;
    top:150px;
    left:100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* repreats 3x */
    gap:40px;
}