:root
{
    --garnet:#75010a;
    --hover-color:#FF0000;
}

body
{
    background: black;
}

/* Top Navs */
#top-nav
{
    position: relative;
    top: -10px;
    left: -5px;
    color: white;
    width: 3000px;
    display: flex;
}

#top-nav h1
{
    display: flex;
    color: white;
    position: absolute;
    left: 810px;
    top:28px;
    font-size: 33px;
    
}

#top-nav img
{
    display: flex;
    width: 300px;
    position: absolute;
    top: 25px;
    left:20px;
}

#top-nav ul
{
    display: flex;
    list-style-type: none;
    position: absolute;
    left:-5px;
    top:-10px;
}

#top-nav a
{
    text-decoration: none;
    padding: 5px;
    color: white;
    font-size: 10px;
    transition: background-color .3s ease-in-out; /* transition hover color */
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

/* Top Nav Decor */

#top-nav li::after /* helps make | and > smaller */
{
    font-size: 0.7em;
    padding: 4px;
}

#top-nav li:not(:last-child)::after
{
    content: "|";
}

 #top-nav li:last-child::after
{
        content:">";
        padding-left: 2px;
 }

 #top-nav a:hover
{
    background-color: var(--hover-color); /* same transition hover color as website using eyedropper */
}

 /* Second Nav */

 #second-content
 {
    position: relative;
    background: var(--garnet);
    height: 50px;
    top:110px;
    left:-10px;
    margin: 0;
    width: 100vw;
    padding: 0;
   
 }

 #second-content ul
 {
    padding: 5px;
    list-style-type: none;
    position: absolute;
    display: flex;
    left: 745px;
    top:0px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
 }

 #second-content li
 {
    position: static; /*prevents stackign text */
 }

 #second-content a
 {
    text-decoration: none;
    padding: 15px;
    color: white;
    position: static;
 }

 /* Second Nav Decor (copied and pasted from earlier code i wrote) */

#second-nav li::after /* helps make | and > smaller */
{
    font-size: 0.7em;
    padding: 4px;
}

#second-nav li:not(:last-child)::after
{
    content: ">";
    color: white;
    font-size: 15px;
}


/* Images */

#image-one img
{
    position: absolute;
    top:168px;
    left:0
}

/* Sidebar */

#sidebar
{
    background: white;
    position: absolute;
    top:615px;
    left:10px;
    width: 735px;
    height: 95px;
    opacity: 50%;
}

#sidebar h1
{
    padding-left: 55px;
    padding-top: 5px; 
    color: #700109;
   font-size: 34px;
}