:root
{
    --garnet:#75010a;
    --hover-color:#FF0000;
}

body
{
    background: black;
    width: 100vw;
}

/* Top Navs */
#top-nav
{
    position: relative;
    top: -10px;
    left: -5px;
    color: white;
    width: 3000px;
    display: flex;
}

#top-nav h1
{
    display: flex;
    color: white;
    position: absolute;
    left: 810px;
    top:28px;
    font-size: 33px;
    
}

#top-nav img
{
    display: flex;
    width: 300px;
    position: absolute;
    top: 25px;
    left:15px;
}

#top-nav ul
{
    display: flex;
    list-style-type: none;
    position: absolute;
    left:0px;
    top:-5px;
}

#top-nav a
{
    text-decoration: none;
    padding: 5px;
    color: white;
    font-size: 10px;
    transition: background-color .3s ease-in-out; /* transition hover color */
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

#logo
{
    position: absolute;
    left:10px
}

/* Top Nav Decor */

#top-nav li::after /* helps make | and > smaller */
{
    font-size: 0.7em;
    padding: 4px;
}

#top-nav li:not(:last-child)::after
{
    content: "|";
}

 #top-nav li:last-child::after
{
    content:">";
    padding-left: 2px;
 }

 #top-nav a:hover
{
    background-color: var(--hover-color); /* same transition hover color as website using eyedropper */
}

 /* Second Nav */

 #second-content
 {
    position: relative;
    background: var(--garnet);
    height: 50px;
    top:110px;
    left:-10px;
    margin: 0;
    width: 100vw;
    padding: 0;
   
 }

 #second-content ul
 {
    padding: 5px;
    list-style-type: none;
    position: absolute;
    display: flex;
    left: 745px;
    top:-5px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
 }

 #second-content li
 {
    position: static; /*prevents stackign text */
 }

 #second-content a
 {
    text-decoration: none;
    padding: 15px;
    color: white;
    position: static;
 }

 /* Second Nav Decor (copied and pasted from earlier code i wrote) */

#second-nav li::after /* helps make | and > smaller */
{
    font-size: 0.7em;
    padding: 4px;
}

#second-nav li:not(:last-child)::after
{
    content: ">";
    color: white;
    font-size: 15px;
}


/* Images */

#image-one img
{
    position: absolute;
    top:168px;
    left:0
}

/* Sidebar */

#sidebar
{
    background: white;
    position: absolute;
    top:615px;
    left:5px;
    width: 725px;
    height: 90px;
    opacity: 50%;
}

#sidebar h1
{
    padding-left: 45px;
    padding-top: 0px; 
    color: #700109;
    font-size: 34px;
}

/* Third Section */

#third-section
{
    background: white;
    position: relative;
    top:690px;
    left:-10px;
    height: 325px;
    width: 100vw;
}

#third-section p
{
    font-size: 23px;
    text-align: left;
    max-width: 750px;
    position: absolute;
    left:335px;
    top:20px;
    line-height: 40px;
    font-weight: bold;  
}

/* Fourth Section */

#fourth-section
{
    background-color: var(--garnet);
    position: relative;
    top: 689.5px;
    left:-10px;
    width:100vw;
    height: 475px;
}

#fourth-section h1
{
    color:white;
    position: absolute;
    top:90px;
    left:45px;
    font-size:42px;
    font-family: sans-serif;
}

#fourth-section img
{
    position: absolute;
    top:0px;
    right:0px;
}

#fourth-section p
{
    position: absolute;
    top:170px;
    left:45px;
    max-width: 650px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 30px;
}

#fourth-section ul
{
    background: black;
    position: absolute;
    top:285px;
    left:45px;
    height: 50px;
    width: 120px;
    border: 2px solid white;
    list-style-type: none;
}

#fourth-section li
{
    position: absolute;
    top:15px;
    left:25px;
    color: white;
    
}

#fourth-section a
{
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    text-transform: uppercase;

}

#fourth-section li:last-child::after
{
    position: absolute;
    top:0px;
    content: ">>";
    color: white;
    font-size: 10px;
}

#fourth-section li::after
{
    font-size: 0.7em;
    padding: 4px;
}

/* Fifth Section */

#fifth-section
{
    background: #EDEDED;
    position:relative;
    top:670px;
    left:-10px;
    width: 100vw;
    height: 360px;
}

#fifth-section h1
{
    position: absolute;
    color: var(--garnet);
    font-family: sans-serif;
    font-weight: bold;
    font-size: 43px;
    right:560px;
    top:40px;
}

#fifth-section p
{
    position: absolute;
    color: black;
    font-family: Arial;
    font-size: 16px;
    right:375px;
    top:120px;
    width: 700px;
    text-align: center;
    line-height: 30px;

}

#undergrad 
{
    position: absolute;
    top: 240px;
    left: 395px;            
    width: 190px;
    height: 49px;
    background: var(--garnet);
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15px;
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 6px 14px rgba(0,0,0,0.25);
    padding-left: 5px;
}

#grad 
{
    position: absolute;
    top: 240px;
    left: 650px;           
    width: 150px;              
    height: 49px;
    background: var(--garnet);
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15px;
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 6px 14px rgba(0,0,0,0.25);
}

#depart
{
    position: absolute;
    top: 240px;
    left: 860px;         
    width: 175px;
    height: 49px;
    background: var(--garnet);
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15px;
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 6px 14px rgba(0,0,0,0.25); /* shadow so yoiu can see the border */
}

#undergrad::after 
{
    content: " >>";
    font-weight: 800;
    padding: 8px;
    font-size: 10px;
}

#grad::after 
{
    content: " >>";
    font-weight: 800;
    padding: 8px;
    font-size: 10px;
}

#depart::after
{
    content: " >>";
    font-weight: 800;
    padding: 8px;
    font-size:10px;
}

/* Sixth Section */

#sixth-section
{
    background-color: black;
    position: relative;
    top: 670px;
    left:-10px;
    width:100vw;
    height: 100px;
}

#sixth-section img
{
    position:absolute;
    top:-20px;
    left:0px;
}

#sixth-section #blocks
{
    background: black;
    position: absolute;
    top: 415px;
    left:620px;
    height: 285px;
    width:750px;
    display: flex;
}

#sixth-section #blocks h1
{
    color: white;
    position: absolute;
    top: -20px;
    left:40px;
    font-size: 45px;
    font-family:Arial, Helvetica, sans-serif ;

}

#sixth-section #blocks p
{
    color: white;
    position: absolute;
    top: 65px;
    left:40px;
    font-size: 18px;
    font-family:'Times New Roman', Times, serif;
    line-height: 30px;
}

#sixth-section #blocks a
{
    background-color: var(--garnet);
    position: absolute;
    top:200px;
    left:40px;
    border: 2px solid white;
    text-decoration: none;
    color: white;
    width: 250px;
    height:50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
}

#sixth-section #blocks a::after 
{
    content: " >>";
    font-weight: 800;
    padding: 8px;
    font-size: 10px;
}

/* Seventh Section */

#seventh-section
{
    background: var(--garnet);
    position: relative;
    top:1334px;
    left:-10px;
    height:405px;
    width: 100vw;
}

#seventh-section p
{
    position: absolute;
    top: 80px;
    right:240px;
    color: white;
    width: 600px;
    font-size:23px;
    line-height: 40px;
    font-weight: 550;
    word-spacing: 3px;
}

#seventh-section h5
{
    position: absolute;
    top: 250px;
    right:345px;
    color: white;
    width: 500px;
    font-size:14px;
    line-height: 40px;
    font-weight: 600;
    word-spacing: 3px;
  
}

#seventh-section img
{
    position: absolute;
    top:16.5px;
    left:175px;
    border-radius: 80%;
}

/* Eighth Section */
#eighth-section
{
    background: #1F404C;
    position: relative;
    top:1312.5px;
    left:-10px;
    width:100vw;
    height: 480px;
}

#eighth-section h1
{
    position: absolute;
    color: white;
    top:80px;
    left:42px;
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    width: 450px;
}

#eighth-section p
{
    position: absolute;
    color: white;
    top:210px;
    left:42px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    width: 600px;
    line-height: 30px;
}

#eighth-section a
{
    background-color: var(--garnet);
    position: absolute;
    top:315px;
    left:40px;
    border: 2px solid white;
    text-decoration: none;
    color: white;
    width: 130px;
    height:45px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
}

#eighth-section a::after 
{
    content: " >>";
    font-weight: 800;
    padding: 3px;
    font-size: 10px;
}


#eighth-section img
{
    position: absolute;
    top:0;
    right:0;
}

/* Ninth Section */

#ninth-section 
{
    position: relative;
    top:1291px;
    left:-10px;
    width: 1440px;
    height: 890px;
    background:white;
}

#ninth-section h1
{
    position: absolute;
    top:55px;
    left:665px;
    color: var(--garnet);
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
}

#ninth-section .columns
{
    position: absolute;
    top:175px;
    left:125px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* repreats 3x */
    gap:40px;
}

#ninth-section .news-head h3
{
    color: var(--garnet);
    font-weight: bold;
    font-size: 23px;
    font-family: Arial, Helvetica, sans-serif;
}

#ninth-section #head1
{
    position: absolute;
    top:540px;
    left:140px;
}

#ninth-section #head2
{
    position: absolute;
    top:540px;
    left:550px;
}

#ninth-section #head3 /* different ids but same class allows for same formatting but dif postioning */
{
    position: absolute;
    top:540px;
    left:965px;
}

#ninth-section .news-p p
{
    color: black;
    font-size: 16.5px;
    font-family: 'Times New Roman', Times, serif;
    width: 325px;
    line-height: 25px;
}

#ninth-section #p1
{
    position: absolute;
    top:590px;
    left:140px;
}

#ninth-section #p2
{
    position: absolute;
    top:590px;
    left:540px;
}

#ninth-section #p3
{
    position: absolute;
    top:590px;
    left:955px;
}

#ninth-section .news-buttons
{
    display: flex;
    justify-content: center;
    gap:40px;
    margin-top:20px;
}

#ninth-section .news-buttons a
{
    text-decoration: none;
    justify-content: center;
    gap:40px;
    margin-top:20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width:335px;
    height:40px;
    background: var(--garnet);
    border: 2px solid white;
    box-shadow: 0 6px 14px rgba(0,0,0,0.25);
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.5px;
}

#ninth-section #button1
{
    position: absolute;
    top:730px;
    left:140px;
}

#ninth-section #button2
{
    position: absolute;
    top:730px;
    left:540px;
}

#ninth-section #button3
{
    position: absolute;
    top:730px;
    left:955px;
}

#ninth-section .news-buttons a::after 
{
    content: ">>";
    font-weight: 800;
    margin-left: -35px;
    font-size: 10px;
}

/* Tenth Section */

#tenth-section
{
    position: relative;
    background: black;
    top:1269.5px;
    left:-10px;
    height:500px;
}  

#tenth-section h1
{
    position: absolute;
    color: white;
    font-size:45px;
    font-family: Arial, Helvetica, sans-serif;
    width: 500px;
    top:65px;
    left:45px;
}

#tenth-section img
{
    position: absolute;
    top:15px;
    right:30px;
}

#tenth-section p
{
    position: absolute;
    top:200px;
    left:45px;
    width:675px;
    color: white;
    font-size: 18px;
    line-height: 30px;
}

#tenth-section a
{
    background-color: var(--garnet);
    position: absolute;
    top:350px;
    left:45px;
    border: 2px solid white;
    text-decoration: none;
    color: white;
    width: 115px;
    height:45px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
}

#tenth-section a::after 
{
    content: " >>";
    font-weight: 800;
    padding: 3px;
    font-size: 10px;
}

/* Eleventh Section */

#eleventh-section
{
    position: relative;
    background: white;
    top:1247.5px;
    left:-10px;
    height: 150px;
}

#eleventh-section h1
{
    color: var(--garnet);
    font-size:25px;
    position: absolute;
    font-weight: 600;
    top:10px;
    left:65px;
}

#eleventh-section h1::after 
{
    justify-content: center;
    align-items: center;
    content: " >>";
    font-weight: 800;
    padding: 1px;
    font-size: 10px;
    color: var(--garnet);
}

#eleventh-section a
{
    background-color: black;
    position: absolute;
    top:65px;
    left:65px;
    border: 2px solid white;
    text-decoration: none;
    color: white;
    width: 300px;
    height:45px;
    font-family:Arial;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 6px 14px rgba(0,0,0,0.25);

}

#eleventh-section a::after 
{
    content: ">>";
    font-weight: 800;
    padding: 3px;
    font-size: 10px;
}

#eleventh-section #gallery
{
    position: absolute;
    top:65px;
    left:400px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap:100px;
    padding-left: 10px;
    width: 2000px;
}

#left-col a
{
    position: relative;
    top:1115px;
    text-decoration: none;
    display: block;
    color: var(--garnet);
    left: 720px;      
    font-family: Arial, Helvetica, sans-serif; 
    font-weight: bold;
    line-height: 40px;  
    text-transform: uppercase;   
    font-size: 14px;           
    border-left: 1px solid #a3a3a3;
    padding-left: 10px;
    transition: background-color .3s ease-in-out;
    width: 120px;
}

#left-col a::after 
{
    content: ">>";
    font-weight: 800;
    padding: 8px;
    font-size: 10px;
}

#mid-col a
{
    position: relative;
    top:977.5px;
    text-decoration: none;
    display: block;
    color: var(--garnet);
    left: 900px;      
    font-family: Arial, Helvetica, sans-serif; 
    font-weight: bold;
    line-height: 40px;  
    text-transform: uppercase;   
    font-size: 14px;   
    transition: background-color .3s ease-in-out;  
    width: 120px;      
}

#mid-col a::after 
{
    content: ">>";
    font-weight: 800;
    padding: 8px;
    font-size: 10px;
}

#left-col a:hover
{
    background-color: var(--hover-color); 
    color: white;
}

#mid-col a:hover
{
    background-color: var(--hover-color); 
    color: white;
}

#address 
{
    border-left: 1px solid #a3a3a3;
    padding-left: 10px;
    position: relative;
    top: 840px;
    left: 1175px;
    width: 110px;
    display: flex;
}

#right-col h4
{
    position: relative;
    top:10px;
    left:1175x;
    display: block;
    color: var(--garnet);     
    font-family: Arial, Helvetica, sans-serif;  
    text-decoration: underline;
    font-size: 14px;    
    transition: background-color .3s ease-in-out;  
    width: 110px;   
    margin: 0;   
}

#right-col h4:hover
{
    background-color: var(--hover-color); 
    color: white;
}

#right-col p
{
    position: relative;
    top:0px;
    left:0px;
    display: block;
    color:black;    
    font-family: Arial, Helvetica, sans-serif;  
    font-size: 14px;    
    line-height: 25px;
    width: 150px;
}

/* Section Twelve */

#sectiontwelve 
{
    position: relative; /* instead of absolute */
    top:875.5px;
    left: -10px;
    width: 100vw;
    background: var(--garnet); /* keeps garnet color */
    height: 440px;
    border: 1px solid white;
}

#sectiontwelve #sociallogos img
{
    position: relative;
    top:25px;
    left:1225px;
    padding: 5px;
    border-radius: 50%;
}

#sectiontwelve #logo img
{
    position: relative;
    top:35px;
    left:40px;
    display: flex;
}

#sectiontwelve h3
{
    position: absolute;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    top:110px;
    left:50px;
    font: 15px;
    text-transform: uppercase;
}

#sectiontwelve #colone a
{
    position: relative;
    top:105px;
    left:50px;
    text-decoration: none;
    color: white;
    display: flex;
    line-height: 30px;
    width: 250px; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

#sectiontwelve #colone
{
    flex-direction: column;
}

#sectiontwelve #coltwo a
{
    position: relative;
    top:-105px;
    left:290px;
    text-decoration: none;
    color: white;
    display: flex;
    line-height: 30px;
    width: 200px; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

#sectiontwelve #coltwo
{
    flex-direction: column;
}

#sectiontwelve #colthree a
{
    position: relative;
    top:-315px;
    left:500px;
    text-decoration: none;
    color: white;
    display: flex;
    line-height: 30px;
    width: 300px; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

#sectiontwelve #colthree
{
    flex-direction: column;
}

#sectiontwelve #head2
{
    position: relative;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    top:-600px;
    left:675px;
    font: 15px;
    text-transform: uppercase;
}

#sectiontwelve #colfour a
{
    position: relative;
    top:-435px;
    left:730px;
    text-decoration: none;
    color: white;
    display: flex;
    line-height: 30px;
    width: 300px; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

#sectiontwelve #colfour
{
    flex-direction: column;
}

#sectiontwelve #colfive a
{
    position: relative;
    top:-615px;
    left:955px;
    text-decoration: none;
    color: white;
    display: flex;
    line-height: 30px;
    width: 300px; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

#sectiontwelve #colfive
{
    flex-direction: column;
}

#sectiontwelve #head3
{
    position: relative;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    top:-930px;
    left:1150px;
    font: 15px;
    text-transform: uppercase;

}


#sectiontwelve #colsix a
{
    position: relative;
    top:-765px;
    left:1200px;
    text-decoration: none;
    color: white;
    display: flex;
    line-height: 30px;
    width: 300px; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

#sectiontwelve #colsix
{
    flex-direction: column;
}

#sectiontwelve #head1 h3::after 
{
    content: "";
    position: absolute;
    left: 0;                     
    bottom: 0;                   
    width: 420px;                
    height: 2px;                 
    background-color: currentColor;
}

#sectiontwelve #head2 h3::after 
{
    content: "";
    position: absolute;
    left: 0;                     
    bottom: 0;                   
    width: 420px;                
    height: 2px;                 
    background-color: currentColor;
}

#sectiontwelve #head3 h3::after 
{
    content: "";
    position: absolute;
    left: 0;                     
    bottom: 0;                   
    width: 200px;                
    height: 2px;                 
    background-color: currentColor;
}